# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

bin/
MANIFEST.MF
laby3d.jar

# VIM FILES
*.swp

# Path uncrustify
scripts/path_uncrustify.txt

# JavaDoc Folder
doc/
