.root{
  -fx-background: rgb(225, 228, 203);
  -fx-cursor: hand;
}

.button{
    -fx-text-fill: #D2691E;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}
.vbox{
  -fx-background-image: url("assets/menubackGround.jpg");
  -fx-background-repeat: stretch;
}

.slider{
  -fx-background-color: #CCFF99;
  -fx-padding: 0.333333em;
  -fx-control-inner-background: #DFB951;
}


@font-face {
    font-family: 'confidential';
    src: url('assets/fonts/confidential.ttf');
}

.label{
  -fx-font-family: "confidential";
}
