.root{
  -fx-cursor: hand;
  -fx-font-family: "confidential";
  -fx-background-image: url("blackwall.jpg");

}

.button{
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-border-radius: 20;
    -fx-border-color: white;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.button:hover{
    -fx-text-fill: red;
    -fx-background-color: black;
    -fx-border-color: red;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}


.vbox{
  -fx-background-image: url("blackwall.jpg");
}

.slider{
  -fx-padding: 0.333333em;
  -fx-control-inner-background: gray;
}

.slider .axis{
  -fx-tick-label-fill: white;
}


@font-face {
    font-family: 'confidential';
    src: url('fonts/confidential.ttf');
}

.label{
  -fx-font: 28px Vivaldi;
  -fx-fill: white;
  -fx-font-family: "confidential";
}

#create{
  -fx-font: 20 Tahoma;
  -fx-text-fill: white;
}

#pane{
  -fx-background-image: url("blackwall.jpg");
}

#hello{
  -fx-font: 100px Tahoma;
  -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, white 0%, gray 35%);
  -fx-stroke: black;
  -fx-stroke-width: 1;
}

#ghostmodeoff{
  -fx-text-fill: white;
  -fx-base: white;
  -fx-background-color: black;
  -fx-border-radius: 20;
  -fx-border-color: white;
  -fx-background-radius: 20;
  -fx-padding: 5;
}

#ghostmodeoff:hover{
  -fx-text-fill: red;
  -fx-background-color: black;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-border-color: red;
  -fx-padding: 5;
}

#ghostmodeon{
  -fx-text-fill: red;
  -fx-background-color: black;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-border-color: red;
  -fx-padding: 5;
}

#title{
  /*-fx-fill: white;*/
  -fx-font: 100px Tahoma;
  -fx-fill: linear-gradient(from 10% 0% to 100% 200%, repeat, white 0%, silver 35%);
  -fx-stroke: black;
  -fx-stroke-width: 1;
}

.check-box .box {
-fx-background-color: gray;
-fx-border-color:grey;
-fx-border-radius:3px;
}
.check-box .text {
  -fx-fill: white;
}

.check-box:selected .mark {
  -fx-background-color: white;
}
